/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {



}
@media only screen and (max-width : 1054px) {

	
}
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.site-title{
		display:none;
	}

	.menu-list li>a {
		font-size: 18px;
	}

.about h2{

	text-align:center;
}

}
/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {

.menu-list li{
display: none;
}
.menu-list .registration-block,
.menu-list li:nth-child(1),
.dropdown,
.menu-header .description-title
{
	display:inline-block;	
}
.menu-list li>a {
		font-size: 14px;
	}


.section{
	background-size: 100% 100%;
	background-position: right 150px;
}
.section h1{
	display:none;
}

.description{
	width: 38%;
	margin: 0 auto;
	color: #333;
	font-size: 35px;
	text-align:left;
}
.description>span{
	color: #f3f3f3;
}
.description-about {
    width: 36%;
    font-size: 1.5vw;
    font-weight: bold;
    color: #6f6969;
    text-align: left;
    margin: 0 auto;
    display:block;
}
.comments-about-wrapper {
    width: 32%;
    margin: 5% 32%;
    text-align: left;
    font-size: 15px;
     float: none;
}
.about-picture {
    display: block;
    margin: 0 auto;
    float: none;
}
.comments-about-wrapper .comments-about,
.description-about .description-invisible-block{
	display:none;
}
.details{
	display:block;
}
}
@media only screen and (max-width : 572px) {
	.description{
	width: 53%;
}
	}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.description{
	width: 53%;
	margin: 0;
}

.menu-list .registration-block{
	padding: 2% 1%;
	
}
}
@media only screen and (max-width : 427px) {
	.description{
	width: 72%;
	}

	.about-picture {
   
    width: 60%;
}

.comments-about-wrapper {
    
    font-size: 1.7vw;
   
}